<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNKSFPGth5viGi8tmQ9o40NOc85UvwfDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1022496948653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selmanaslan.pollexa</string>
	<key>PROJECT_ID</key>
	<string>pollexa-ec5e6</string>
	<key>STORAGE_BUCKET</key>
	<string>pollexa-ec5e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022496948653:ios:3a94f581a94afce9792124</string>
</dict>
</plist>